.header {
  padding: 20px;
  color: #fff; }

.chat-section {
  padding: 20px; }

.profile-title {
  color: #fff; }
  .profile-title-link:visited, .profile-title-link:link {
    color: #fff;
    text-decoration: none; }
  .profile-title-link:hover {
    color: #84a9ac; }
  .profile-title-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #84a9ac;
    border-radius: 50%;
    text-align: center;
    line-height: 30px; }

.sidenav {
  height: 100vh;
  padding: 20px; }

.nav-bordered > .nav-item {
  float: left; }
  .nav-bordered > .nav-item > .nav-link {
    display: inline-block;
    padding: 10px 0;
    font-weight: 400;
    color: #fff;
    border-bottom: 4px solid transparent; }
    .nav-bordered > .nav-item > .nav-link:hover, .nav-bordered > .nav-item > .nav-link:focus {
      color: #3b6978;
      background-color: transparent; }
    .nav-bordered > .nav-item > .nav-link.active, .nav-bordered > .nav-item > .nav-link.active:hover, .nav-bordered > .nav-item > .nav-link.active:focus {
      font-weight: 400;
      color: #3b6978;
      border-bottom-color: #3b6978; }
  .nav-bordered > .nav-item + .nav-item {
    margin-left: 30px; }

.nav-bordered.nav-justified > .nav-item + .nav-item {
  margin-left: 0; }

.nav-bordered.nav-justified > .nav-item > .nav-link {
  margin-bottom: 0; }

.nav-bordered.nav-stacked > .nav-item {
  float: none;
  margin-left: 0; }
  .nav-bordered.nav-stacked > .nav-item + .nav-item {
    margin-top: 0; }

.nav-bordered.nav-stacked > .nav-item > .nav-link {
  display: block;
  padding: 2px 10px 2px 30px;
  border-bottom: 0;
  border-left: 4px solid transparent; }
  .nav-bordered.nav-stacked > .nav-item > .nav-link:hover, .nav-bordered.nav-stacked > .nav-item > .nav-link:focus {
    border-left: 4px solid;
    text-decoration: none; }
  .nav-bordered.nav-stacked > .nav-item > .nav-link.active, .nav-bordered.nav-stacked > .nav-item > .nav-link.active:hover, .nav-bordered.nav-stacked > .nav-item > .nav-link.active:focus {
    border-left-color: #3b6978; }

.nav-bordered.nav-stacked .nav-header {
  color: #84a9ac;
  padding-left: 34px; }

.nav-bordered.nav-stacked .nav-divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 34px;
  margin-top: 20px;
  margin-bottom: 25px; }
